target/*
release.properties
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

lib/*
.settings/*
.vscode/*
addresses.json
stores.json
items.json
clients.json
sales.json
employees.json
saleDetails.json
tpc_db.json

